@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Roboto';
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.cabecera{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 8vh;
    background-color: #3368FF;
    z-index: 99;
}


.menu_hamb{
    padding: 1rem;    
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

.panel_menu{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:#5C7F92;
    transition: transform 1s ease-out;
    transform: translate(0,-100%);
    z-index: 99;
    position: absolute;
    top: 0;
}

.is_visible{
    transform:translate(0,0);
}

.panel_menu .menu-item{
    text-align: center;
    padding: auto;
    text-decoration: none;
    font-size: 1.5rem;
    color:rgb(0, 0, 0);
}

.panel_menu .cerrar{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    background-color: yellow;
    padding: .5rem 1rem;
    border-radius: 50%;
}



.ejercicios{
    width: 70%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.ejercicios h2{
    width: 100%;
    text-align: center;
    background-color: blueviolet;
}


.fotosGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
